# Mac files
.DS_Store

# Dependency directories
/node_modules

# lerna files
/lerna-debug.log
package-lock.json
package.json
studio/package-lock.json
web/package-lock.json
studio/config/@sanity/form-builder.json
